.main-list-container {
  margin-left: calc(50 / 1440 * 100vw);
  margin-right: calc(50 / 1440 * 100vw);
}

.main-list-container__part-name {
  font: calc(20 / 1440 * 100vw) "Trebuchet MS", "Lucida Sans";
  font-weight: bold;
}
.main-list-container__list-rounded {
  counter-reset: li;
  list-style: none;
  font: calc(16 / 1440 * 100vw) "Trebuchet MS", "Lucida Sans";
  padding: 0;
}
.main-list-container__list-rounded a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
.main-list-container__list-rounded a:hover {
  background: #e9e4e0;
}
.main-list-container__list-rounded a:hover:before {
  transform: rotate(360deg);
}
.green a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.blue a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8f9fd4;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.orange a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #e98e27;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.red a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #ff1100;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
