html {
  font-family: "Inter Tight", sans-serif;
  font-size: medium;
}

main {
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-size: 200px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.content {
  padding: 1.5rem;
  flex: 1;
}

.company-logo {
  display: flex;
  font-size: larger;
  font-weight: 800;
  vertical-align: middle;
  background-image: url(../images/background90part.jpg);
  background-size: 300px;
  background-repeat: repeat;
}

.logo-img {
  width: 170px;
  height: 100px;
  display: inline-block;
}
h1 {
  margin: auto;
  margin-left: 10px;
  text-align: center;
  font-size: xx-large;
}

h3 {
  margin: auto;
  margin-left: 10px;
  text-align: center;
  font-size: large;
  font-weight: 800;
}

b {
  font-weight: 800;
}
#navbar ul {
  display: none;
  background-color: black;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul {
  display: block;
}
#navbar,
#navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  background: linear-gradient(270deg, #fdfdfd 30%, #888888 70%);
  padding-left: 25px;
  min-width: 500px;
  border: 1px solid black;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 150px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li {
  float: none;
}
#navbar li:hover {
  background-color: black;
}
#navbar ul li:hover {
  background-color: gray;
}

.products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.product-card {
  width: 250px;
  height: 350px;
  background: linear-gradient(138.04deg, #fdfdfd 27.92%, #888888 79.73%);
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  align-items: center;
}

.prouct-card-body-data {
  width: 230px;
  height: 230px;
}

.product-card-name,
.product-card-description,
.product-card-price {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-card-image {
  width: 225px;
  height: 130px;
  margin-left: 10px;
}
.product-card-price {
  text-align: center;
  margin-top: 25px;
  font-size: large;
}

.product-card-buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  justify-content: center;
}

.button {
  cursor: pointer;
}
.button-footer {
  border-radius: 12%;
  height: 40px;
  width: 105px;
}

.button-footer-add {
  background: linear-gradient(138.04deg, #7beba0 27.92%, #216b25 79.73%);
}
.button-footer-buy {
  background: linear-gradient(138.04deg, #fd8898 27.92%, #6e1d1d 79.73%);
}

.button-footer-add:hover {
  background: linear-gradient(138.04deg, #b6facd 27.92%, #2fee39 79.73%);
}
.button-footer-buy:hover {
  background: linear-gradient(138.04deg, #fdb7b7 27.92%, #c20d0d 79.73%);
}

.button-footer-add:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.button-footer-buy:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.product-card-buy {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
.product-card-addcart {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  flex-shrink: 0;
  margin: auto;
  margin-left: 10px;
  width: 100%;
  height: 50px;
  background: linear-gradient(270deg, #fdfdfd 30%, #888888 70%);
  border: 1px solid black;
}
