* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #787878 !important; /* цвет текста */
  background-color: white !important;
  color: #787878 !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #787878 !important; /* цвет текста */
  background-color: white !important;
  color: #787878 !important;
}

.header-container {
  width: 100vw;
  height: calc(100 / 1440 * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-size: xx-large;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.form-container {
  width: calc(600 / 1440 * 100vw);
  height: calc(500 / 1440 * 100vw);

  background: #ffffff;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
}

.form-container__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container__header {
  vertical-align: middle;

  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(24 / 1440 * 100vw);
}

.value-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(300 / 1440 * 100vw);
  height: calc(80 / 1440 * 100vw);
}

.value-container__label {
  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-style: normal;
  font-weight: 700;
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
}

.value-container__input {
  box-sizing: border-box;

  width: calc(300 / 1440 * 100vw);
  height: calc(50 / 1440 * 100vw);

  outline: none;
  background: #ffffff;
  border: 2px solid #787878;

  text-align: center;

  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-style: normal;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);

  padding-left: calc(5 / 1440 * 100vw);
}

#operator {
  box-sizing: border-box;
  text-align: center;

  width: calc(40 / 1440 * 100vw);
  height: calc(40 / 1440 * 100vw);

  outline: none;
  background: #ffffff;
  border: 2px solid #787878;

  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-style: normal;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);

  padding-left: calc(5 / 1440 * 100vw);
}

.form-container__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(90 / 1440 * 100vw);
  height: calc(40 / 1440 * 100vw);

  padding: 0;

  border: none;

  font-family: 'Roboto', sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);

  color: #ffffff;

  background: #2b3bc5;
}

.form-container__button:active {
  background: #2bc5a4;
}

.form-container__result {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: red;
  font-style: normal;
  font-weight: 700;
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
}

@media screen and (max-width: 768px) {
  .form-container {
    width: calc(600 / 768 * 100vw);
    height: calc(500 / 768 * 100vw);

    background: #ffffff;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
  }

  .form-container__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .form-container__header {
    vertical-align: middle;

    font-family: 'Roboto', sans-serif;
    color: #787878;
    font-style: normal;
    font-weight: 700;
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(24 / 768 * 100vw);
  }

  .value-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(300 / 768 * 100vw);
    height: calc(80 / 768 * 100vw);
  }

  .value-container__label {
    font-family: 'Roboto', sans-serif;
    color: #787878;
    font-style: normal;
    font-weight: 700;
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }

  .value-container__input {
    box-sizing: border-box;

    width: calc(300 / 768 * 100vw);
    height: calc(50 / 768 * 100vw);

    outline: none;
    background: #ffffff;
    border: 2px solid #787878;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    color: #787878;
    font-style: normal;
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);

    padding-left: calc(5 / 768 * 100vw);
  }

  #operator {
    box-sizing: border-box;
    text-align: center;

    width: calc(40 / 768 * 100vw);
    height: calc(40 / 768 * 100vw);

    outline: none;
    background: #ffffff;
    border: 2px solid #787878;

    font-family: 'Roboto', sans-serif;
    color: #787878;
    font-style: normal;
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);

    padding-left: calc(5 / 768 * 100vw);
  }

  .form-container__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(90 / 768 * 100vw);
    height: calc(40 / 768 * 100vw);

    padding: 0;

    border: none;

    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);

    color: #ffffff;

    background: #2b3bc5;
  }

  .form-container__button:active {
    background: #2bc5a4;
  }

  .form-container__result {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: red;
    font-style: normal;
    font-weight: 700;
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
}
