* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #787878;
}

body {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #787878 !important; /* цвет текста */
  background-color: white !important;
  color: #787878 !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #787878 !important; /* цвет текста */
  background-color: white !important;
  color: #787878 !important;
}

.page-login {
  background-color: #ffffff;
}

.header-container {
  width: 100vw;
  height: calc(80 / 1440 * 100vw);
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container__img-logo {
  width: calc(222 / 1440 * 100vw);
  height: calc(50 / 1440 * 100vw);

  margin-left: calc(30 / 1440 * 100vw);
  margin-top: calc(18 / 1440 * 100vw);
  margin-bottom: calc(12 / 1440 * 100vw);
}

.header-container__text-course-name {
  width: calc(242 / 1440 * 100vw);
  height: calc(44 / 1440 * 100vw);

  margin-left: calc(30 / 1440 * 100vw);
  margin-top: calc(21 / 1440 * 100vw);
  margin-bottom: calc(15 / 1440 * 100vw);

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(36 / 1440 * 100vw);
  line-height: calc(44 / 1440 * 100vw);

  color: #787878;
}
.header-container__nav-bar {
  display: flex;
  margin-left: calc(628 / 1440 * 100vw);
}
.header-container__registration {
  margin-top: calc(25 / 1440 * 100vw);

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(29 / 1440 * 100vw);

  color: #787878;
}

.header-container__entry {
  margin-top: calc(25 / 1440 * 100vw);
  margin-left: calc(28 / 1440 * 100vw);

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(29 / 1440 * 100vw);

  color: #1a226b;
}

.main {
  width: 100%;
  height: 100%;
}

.form-container {
  width: calc(600 / 1440 * 100vw);
  height: calc(383 / 1440 * 100vw);

  margin-left: calc(403 / 1440 * 100vw);
  margin-top: calc(125 / 1440 * 100vw);

  background: #ffffff;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);

  display: block;
}

.form-container__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-container__header {
  margin-left: calc(242 / 1440 * 100vw);
  margin-top: calc(26 / 1440 * 100vw);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(50 / 1440 * 100vw);
  line-height: calc(50 / 1440 * 100vw);

  color: #787878;
}

.email-form {
  width: calc(510 / 1440 * 100vw);
  height: calc(65 / 1440 * 100vw);
  margin-left: calc(45 / 1440 * 100vw);
  margin-top: calc(20 / 1440 * 100vw);
}

.email-form__email-label {
  display: block;
  padding-left: calc(8 / 1440 * 100vw);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);

  color: #787878;
}

.email-form__email-input {
  box-sizing: border-box;

  width: calc(510 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);

  outline: none;
  background: #ffffff;
  border: 2px solid #787878;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);

  padding-left: calc(15 / 1440 * 100vw);

  color: #787878;
}

.password-form {
  width: calc(510 / 1440 * 100vw);
  height: calc(65 / 1440 * 100vw);
  margin-left: calc(45 / 1440 * 100vw);
  margin-top: calc(16 / 1440 * 100vw);
}

.password-form__password-label {
  display: block;
  padding-left: calc(8 / 1440 * 100vw);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);

  color: #787878;
}

.password-form__password-input {
  width: calc(510 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);

  padding-left: calc(15 / 1440 * 100vw);

  outline: none;
  background: #ffffff;
  border: 2px solid #787878;

  color: #787878;
}

.email-form__email-input::placeholder,
.password-form__password-input::placeholder {
  color: #cccccc;
}

.form-container__button {
  width: calc(180 / 1440 * 100vw);
  height: calc(52 / 1440 * 100vw);

  margin-top: calc(52 / 1440 * 100vw);
  margin-left: calc(210 / 1440 * 100vw);

  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);

  color: #ffffff;

  background: #1a226b;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .form-container {
    position: absolute;

    width: calc(728 / 768 * 100vw);
    height: calc(697 / 768 * 100vw);

    left: calc(20 / 768 * 100vw);
    top: calc(20 / 768 * 100vw);

    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: calc(20 / 768 * 100vw);
  }

  .form-container__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .form-container__header {
    position: absolute;
    width: calc(138 / 768 * 100vw);
    height: calc(50 / 768 * 100vw);
    left: calc(288 / 768 * 100vw);
    top: calc(38 / 768 * 100vw);

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: calc(60 / 768 * 100vw);
    line-height: calc(50 / 768 * 100vw);

    color: #787878;
  }

  .email-form {
    position: absolute;
    width: calc(638 / 768 * 100vw);
    height: calc(75 / 768 * 100vw);
    left: calc(45 / 768 * 100vw);
    top: calc(101 / 768 * 100vw);
  }

  .email-form__email-label {
    position: absolute;
    width: calc(60 / 768 * 100vw);
    height: calc(16 / 768 * 100vw);
    left: calc(8 / 768 * 100vw);
    top: 0px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);

    opacity: 1;
    color: #787878;
  }

  .email-form__email-input {
    box-sizing: border-box;
    padding-left: calc(16 / 768 * 100vw);

    position: absolute;
    width: calc(638 / 768 * 100vw);
    height: calc(49 / 768 * 100vw);
    left: 0px;
    top: calc(24 / 768 * 100vw);

    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);

    background: #ffffff;
    border: 2px solid #787878;
    border-radius: calc(10 / 768 * 100vw);

    opacity: 1;
    color: #787878;
  }

  .email-form__email-input:focus + .email-form__email-label,
  .email-form__email-input:not(:placeholder-shown) {
    opacity: 1;
  }

  .password-form {
    position: absolute;
    width: calc(638 / 768 * 100vw);
    height: calc(73 / 768 * 100vw);
    left: calc(45 / 768 * 100vw);
    top: calc(187 / 768 * 100vw);
  }

  .password-form__password-label {
    position: absolute;
    width: calc(84 / 768 * 100vw);
    height: calc(16 / 768 * 100vw);
    left: calc(8 / 768 * 100vw);
    top: 0px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);

    opacity: 1;

    color: #787878;
  }

  .password-form__password-input {
    box-sizing: border-box;
    padding-left: calc(16 / 768 * 100vw);

    position: absolute;
    width: calc(638 / 768 * 100vw);
    height: calc(49 / 768 * 100vw);
    left: 0px;
    top: calc(24 / 768 * 100vw);

    background: #ffffff;
    border: 2px solid #787878;
    border-radius: calc(10 / 768 * 100vw);

    outline: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);

    opacity: 1;
    color: #787878;
  }

  .password-form__password-input:focus + .password-form__password-label,
  .password-form__password-input:not(:placeholder-shown) {
    opacity: 1;
  }

  .email-form__email-input::placeholder,
  .password-form__password-input::placeholder {
    color: #cccccc;
  }

  .checkbox-form {
    position: absolute;
    width: calc(408 / 768 * 100vw);
    height: calc(32 / 768 * 100vw);
    left: calc(45 / 768 * 100vw);
    top: calc(279 / 768 * 100vw);
  }

  .checkbox-form__label {
    position: absolute;
    left: calc(42 / 768 * 100vw);
    top: calc(8 / 768 * 100vw);

    width: calc(358 / 768 * 100vw);
    height: calc(16 / 768 * 100vw);

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: calc(18 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);

    color: #787878;
  }

  .checkbox-form__label::before {
    content: "";
    box-sizing: border-box;

    position: absolute;

    left: calc(-42 / 768 * 100vw);
    top: calc(-8 / 768 * 100vw);

    width: calc(32 / 768 * 100vw);
    height: calc(32 / 768 * 100vw);

    background: #ffffff;
    border: 2px solid #787878;
    border-radius: calc(7 / 768 * 100vw);
  }

  .checkbox-form__label::after {
    content: "";
    position: absolute;

    left: calc(-38 / 768 * 100vw);

    width: calc(24 / 768 * 100vw);
    height: calc(24 / 768 * 100vw);

    background: url(../images/check.png) no-repeat;
    background-size: contain;

    opacity: 0;
    transition: 0.2s;
  }

  .checkbox-form__input {
    position: absolute;
    left: calc(42 / 768 * 100vw);
    top: calc(255 / 768 * 100vw);

    width: calc(24 / 768 * 100vw);
    height: calc(24 / 768 * 100vw);
    visibility: hidden;
    opacity: 0;
  }

  .checkbox-form__input:checked + .checkbox-form__label::after {
    opacity: 1;
  }

  .form-container__button {
    position: absolute;
    width: calc(220 / 768 * 100vw);
    height: calc(80 / 768 * 100vw);
    left: calc(254 / 768 * 100vw);
    top: calc(375 / 768 * 100vw);

    background: #1a226b;
    border-radius: calc(10 / 768 * 100vw);
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: calc(32 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);

    color: #ffffff;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1440px) {
} */
